<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <div class="w-64 bg-white shadow-xl">
    <div class="flex items-center justify-between h-16 px-6 border-b">
      <span class="text-xl font-semibold">Dashboard</span>
    </div>
    <nav class="mt-6">
      <div>
        <a (click)="step = 'user'" class="flex items-center py-2 px-6 text-gray-600 hover:bg-gray-200">
            <span class="mx-3">Utilisateur</span>
        </a>

        <a (click)="step = 'contact'" class="flex items-center py-2 px-6 text-gray-600 hover:bg-gray-200">
            <span class="mx-3">Contact reçu</span>
        </a>
        <a (click)="step = 'event'" class="flex items-center py-2 px-6 text-gray-600 hover:bg-gray-200">
            <span class="mx-3">Évenements</span>
        </a>
         <a (click)="step = 'getalluser'" class="flex items-center py-2 px-6 text-gray-600 hover:bg-gray-200">
            <span class="mx-3">Adhérents</span>
        </a>
          <a (click)="step = 'chart'" class="flex items-center py-2 px-6 text-gray-600 hover:bg-gray-200">
            <span class="mx-3">Graphique</span>
        </a>
        
      </div>
    </nav>
  </div>


  <div class="flex flex-col flex-1 overflow-hidden">
    <header class="flex items-center justify-between px-6 py-4 bg-white border-b">
      <div class="flex items-center space-x-4">
        <h2 class="text-xl font-semibold">Bienvenue sur la page admin</h2>
      </div>
    </header>
    <main class="px-6 py-4 flex-1 overflow-y-auto">

     @if(step === 'user'){

         <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <app-count-user></app-count-user>
        </div>
      </section>

    }@else if(step === 'contact'){

       <section>
        <app-contact></app-contact>
      </section>

    }@else if(step	=== 'event'){
      <section>
        <app-event></app-event>
      </section>
    }@else if(step	=== 'getalluser'){
      <section>
        <app-get-all-user></app-get-all-user>
      </section>
    }@else if(step	=== 'chart'){
      <section>
        <app-chart></app-chart>
      </section>
    }

    

    
 
 
    </main>
  </div>
</div>